@font-face {
	font-family: 'DM Sans';
	src: url('./../fonts/DMSans-Regular.eot');
	src: local('☺'), url('./../fonts/DMSans-Regular.woff') format('woff'), url('./../fonts/DMSans-Regular.ttf') format('truetype'), url('./../fonts/DMSans-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'DM Sans';
	src: url('./../fonts/DMSans-Bold.eot');
	src: local('☺'), url('./../fonts/DMSans-Bold.woff') format('woff'), url('./../fonts/DMSans-Bold.ttf') format('truetype'), url('./../fonts/DMSans-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
*{
	box-sizing: border-box;
}
body{
    background-color:#363F46;
	font-family: "DM Sans", sans-serif;
	color: rgba(255, 255, 255, 0.7);
}
h1, h2, h3{
	font-weight: 400;
	color: #fff;
}
.container{
    width:90%;
    margin: 0 auto;
}
//styles for header start

//header end


//styles for section 'episodes' start

//section 'episodes' end


//styles for section 'jacob' and 'subscribe' start

//section 'jacob' and 'subscribe' end


//styles for footer and section 'reviews' start
.reviews{
	margin-bottom: 200px;
	display:grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: repeat(2, 1fr);
	gap: 16px;
	&__item{
		padding: 64px 60px 51px 50px;
		border-radius: 32px;
		background-color:#000;
	}
	&__star{
		width:100px;
		height:18px;
		background-image: url(./../../assets/img/star.svg);
		background-repeat: space;
	}
	&__title{
		font-size: 36px;
		line-height: 43px;
		margin: 21px 0 19px;
	}
}

.footer{
	margin-bottom:117px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(179px, 1fr));
	&__item{
		&:first-child{
			margin-bottom:30px;
		}
		margin-right:16px;
		&:nth-child(2){
			justify-self: flex-end;
		}
		&:last-child{
			margin-right:0;
		}
	}
	&__nav {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            margin-bottom: 25px;
        }
    }
	&__link {
        font-size: 17px;
		line-height: 27px;
        text-decoration: none;
        color: #fff;
    }
	&__social{
		display: flex;
        flex-wrap: wrap;
	}
	&__logo{
		margin-bottom: 20px;
	}
	&__icon{
		margin-right: 10px;
	}
	&__apps{
		display: flex;
        flex-wrap: wrap;
	}
	&__app{
		margin-right: 17px;
	}
}
@media (max-width:796px){
	.footer__item{
		&:nth-child(2){
			justify-self: flex-start;
		}
	}
}
@media (max-width:398px){
	.reviews{
		margin-bottom: 80px;
	}
	.footer{
		padding-left: 50px;
	}
}
//footer and section 'reviews' end