@font-face {
	font-family: 'DM Sans';
	src: url('./../fonts/DMSans-Regular.eot');
	src: local('☺'), url('./../fonts/DMSans-Regular.woff') format('woff'), url('./../fonts/DMSans-Regular.ttf') format('truetype'), url('./../fonts/DMSans-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'DM Sans';
	src: url('./../fonts/DMSans-Bold.eot');
	src: local('☺'), url('./../fonts/DMSans-Bold.woff') format('woff'), url('./../fonts/DMSans-Bold.ttf') format('truetype'), url('./../fonts/DMSans-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
*{
	box-sizing: border-box;
}
body{
    background-color: #191919;
	color: rgba(255, 255, 255, 0.7);
}
h1, h2, h3{
	color: #fff;
}
.container{
    width:90%;
    margin: 0 auto;
}

@mixin btn {
	background: #118DA8;
	height: 51px;
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	span{
		font-family: 'DM Sans';
		color: #FFFFFF;
	}
	
}
//styles for header start

//header end


//styles for section 'episodes' start

//section 'episodes' end


//styles for section 'jacob' and 'subscribe' start
.jacob{
	display: flex;
	column-gap: 5%;
	&__intro{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		&-paragraph{
			color: #118DA8; 
		}
		&-text{
			color: #FFFFFFB2;
		}
	}
	&__image{
		flex-basis: 45%;
	}
}
.subscribe{
	height: 40%;
	background-color: #000000;
	display: flex;
	border-radius: 32px;
	&__header{
		flex-basis: 55%;
		padding-left: 60px;
		&-title{
			font-size: 70px;
		}
		&-paragraph{
			color: #118DA8;
		}
	}
	&__form{
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		gap: 5px;
		justify-content: center;
		align-items: flex-start;
		&-input{
			background-color: #191919;
			border: 1px solid #191919;
			border-radius: 6px;
			height: 10vh;
			width: 35vw;
		}
		&-input::placeholder{
			font-family: 'DMSans';
			color: #FFFFFFB2;
			padding-left: 19px;
			font-size: 20px;
		}
		&-button{
			@include btn;
			font-size: 15px;
			width: 87px;
			color: rgba(255, 255, 255, 0.7);
		}
	}

}


//section 'jacob' and 'subscribe' end


//styles for footer and section 'reviews' start

//footer and section 'reviews' end