@charset "UTF-8";
@font-face {
  font-family: 'DM Sans';
  src: url("./../../fonts/DMSans-Regular.eot");
  src: local("☺"), url("./../../fonts/DMSans-Regular.woff") format("woff"), url("./../../fonts/DMSans-Regular.ttf") format("truetype"), url("./../../fonts/DMSans-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url("./../../fonts/DMSans-Bold.eot");
  src: local("☺"), url("./../../fonts/DMSans-Bold.woff") format("woff"), url("./../../fonts/DMSans-Bold.ttf") format("truetype"), url("./../../fonts/DMSans-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #363F46;
  font-family: "DM Sans";
  color: rgba(255, 255, 255, 0.7);
}

h1, h2, h3 {
  font-weight: 400;
  color: #fff;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.episodes__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
}

.episodes__header-title {
  font-size: 4em;
  line-height: 79px;
  letter-spacing: 2.88px;
  color: #FFFFFF;
}

.episodes__header-btn {
  width: 178px;
  height: 51px;
  background: #118DA8;
  border-radius: 6px;
  border: none;
  font-size: 1.06em;
  line-height: 27px;
  color: #FFFFFF;
}

.episodes__header-btn :hover {
  cursor: pointer;
}

.episodes__top,
.episodes__middle,
.episodes__bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 65%;
      grid-template-columns: 30% 65%;
  background-color: #000000;
  border-radius: 32px;
  padding: 1.5em;
  margin-bottom: 2em;
}

.episodes__top-1,
.episodes__middle-1,
.episodes__bottom-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.episodes__top-1 img,
.episodes__middle-1 img,
.episodes__bottom-1 img {
  width: 95%;
  max-width: 100%;
}

.episodes__top-2,
.episodes__middle-2,
.episodes__bottom-2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 80%;
}

.episodes__top-2-content,
.episodes__middle-2-content,
.episodes__bottom-2-content {
  width: 73px;
  height: 27px;
  background-color: #191919;
  border-radius: 6px;
  border: none;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1.13em;
  line-height: 27px;
  color: #FFFFFF;
}

.episodes__top-2-number,
.episodes__middle-2-number,
.episodes__bottom-2-number {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1.06em;
  line-height: 27px;
  color: #118DA8;
}

.episodes__top-2-title,
.episodes__middle-2-title,
.episodes__bottom-2-title {
  margin: 0;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 4em;
  line-height: 70px;
  letter-spacing: 2.56px;
  color: #FFFFFF;
}

.episodes__top-2-text,
.episodes__middle-2-text,
.episodes__bottom-2-text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1.38em;
  line-height: 33px;
  color: rgba(255, 255, 255, 0.7);
}

.episodes__top-2-btn,
.episodes__middle-2-btn,
.episodes__bottom-2-btn {
  width: 208px;
  height: 51px;
  background: #118DA8;
  border-radius: 6px;
  border: none;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1.13em;
  line-height: 27px;
  color: #FFFFFF;
}

.episodes__top-2-btn :hover,
.episodes__middle-2-btn :hover,
.episodes__bottom-2-btn :hover {
  cursor: pointer;
}

.reviews {
  margin-bottom: 200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}

.reviews__item {
  padding: 64px 60px 51px 50px;
  border-radius: 32px;
  background-color: #000;
}

.reviews__star {
  width: 100px;
  height: 18px;
  background-image: url(./../../assets/img/star.svg);
  background-repeat: space;
}

.reviews__title {
  font-size: 36px;
  line-height: 43px;
  margin: 21px 0 19px;
}

.footer {
  margin-bottom: 117px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(179px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(179px, 1fr));
}

.footer__item {
  margin-right: 16px;
}

.footer__item:first-child {
  margin-bottom: 30px;
}

.footer__item:nth-child(2) {
  justify-self: flex-end;
}

.footer__item:last-child {
  margin-right: 0;
}

.footer__nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__nav li {
  margin-bottom: 25px;
}

.footer__link {
  font-size: 17px;
  line-height: 27px;
  text-decoration: none;
  color: #fff;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__icon {
  margin-right: 10px;
}

.footer__apps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__app {
  margin-right: 17px;
}

@media (max-width: 796px) {
  .footer__item:nth-child(2) {
    justify-self: flex-start;
  }
}

@media (max-width: 398px) {
  .reviews {
    margin-bottom: 80px;
  }
  .footer {
    padding-left: 50px;
  }
}
/*# sourceMappingURL=style.css.map */